{% extends 'base.html' %}

{% block conteudo %}
<div class="menupag" > 
</div>
<main id="ajuste"> 
    <h1> LIBERTE-SE </h1>
<p class="p"> Quando uma mulher coloca suas experiências em palavras, outra mulher que fica em silêncio por medo do que os outros pensariam, pode encontrar validação. E quando a segunda mulher diz: "sim, essa também foi minha experiência", a primeira mulher também perde algum medo. 
</br> Carol Christie </p> 
<p class="p"> Nós como mulheres, sabendo as dificuldade que temos que enfrentar todos os dias ao abrirmos os olhos. Com o machismo enraizado em nossa sociedade, deparamos diariamente, com atitudes e pensamentos no qual nos inferiorizam de tal forma que nos sentimos humilhadas. Mas, queremos dizer que você nao precisa passar por isso sozinha. Nós estamos aqui!! </p> </br> 
<p class="p"> Sexo frágil? Nem um pouco. Somos MUITO fortes </p>  
  <br/> <br/> 
  <div class="centro">
  <img src="{{url_for('static', filename='imagens/powertop3.jpg')}}" id="img2"> <br/> <br/> 
  </div>
  <br/> Ooi, eu quero te ajudar, tá tudo bem se não tiver, vai ficar tudo bem.
  Costumo seguir algumas páginas no instagram que me inspiram, ver vídeos no youtube me ajuda nos dias difíceis. De mulher para mulher, vou te contar alguns segredos, quero te ver feliz, mas nem todos os dias são flores, acredite, vc ainda tem muito o que viver.<br/> 
   <p class="p">
</main>
{% endblock conteudo %}