{% extends 'base.html' %}

{% block conteudo %}
<div class="menupag" > 
</div>
<main id="ajuste"> 
    <h1> Acompanhamento- em desenvolvimento</h1>
<p class="p"> Quando uma mulher coloca suas experiências em palavras, outra mulher que ficou em silência por medo do que os outros pensariam, pode encontrar validação. E quando a segunda mulher diz: "sim, essa também foi minha experiência", a primeira mulher também perde algum medo. 
</br> Carol Christie </p> 
<p class="p"> Nós como mulheres, sabendo as dificuldade que temos que enfrentar todos os dias ao abrirmos os olhos. Com o machismo enraizado em nossa sociedade, deparamos diariamente, com atitudes e pensamentos no qual nos inferiorizam de tal forma que nos sentimos humilhadas. Mas, queremos dizer que você nao precisa passar por isso sozinha. Nós estamos aqui para lhe oferecer todo cuidado, amor e carinho que você merece. Temos uma equipe de psicologos especializados e todo apoio que precisar. Você deseja fazer parte da sociedade? </p> </br> </br> </br>
<p class="p"> Sexo frágil? Nem um pouco. Somos MUITO fortes </p>  
  <br/> <br/> 
  <div class="centro">
  <img src="{{url_for('static', filename='imagens/powertop3.jpg')}}" id="img2">
  </div>
  <br/> <br/>
   <p class="p"> Ao observar o mundo à nossa volta, a sociedade que vivemos e os acontecimentos atuais, percebemos que apesar de toda luta e de tudo que conseguimos conquistar até agora ainda não foi o suficiente para acabar com a cultura machista que é pregada em nossa sociedade e nem extinguir o assédio e a violência contra as mulheres, sendo que a mesma vem se intensificando atualmente. Foram criadas leis contra a violência doméstica, contra o feminicídio, estupro e mesmo assim milhares de mulheres são mortas, assediadas e sofrem de violência a cada dia. </br>
Baseado em tudo isso, esse site foi feito pra ajudar a você, mulher, que deseja andar na rua tranquilamente sem o medo constante de um estupro, sem o namorado/marido que te ameaça todos os dias, sem sentir medo por ser mulher. </br>
Juntas somos mais fortes, juntas podemos sim, mudar o mundo e mostrar a ele o nosso poder e valor. Ser mulher não é motivo de sentir medo ou ser inferior, por isso, aqui você pode se libertar desse peso que carrega nas costas por ser mulher, de todas as suas angústias vividas e todos os relatos sofridos. Sabemos que não é fácil, mas guardar pra si pode ser ainda pior, se reerguer é necessário.</br>
Hoje, a maioria das mulheres possuem relatos de algum tipo de assédio sofrido, isso não deveria ser algo natural, mas é. Não sinta medo. Não se repreenda. Se liberte.</br> </br> " Gostaria que você soubesse existe dentro de si uma força capaz de mudar sua vida, basta que lute e aguarde um novo amanhecer. " </br> 
Margaret Thatcher </p>
</main>
{% endblock conteudo %}