{% extends 'base.html' %}

{% block conteudo %}
<div class="menupag" > 
</div>
<br/>
<br/>
  <div id="borda" align="center">
  <h2> Cadastro </h2>
  <form name="form" method="post">
   {{formulario.hidden_tag()}}
   {{formulario.csrf_token}}
   {{formulario.username.label}}
   {{formulario.username}} <br/>
   {{formulario.email.label}}
   {{formulario.email}} <br/>
   {{formulario.senha.label}}
   {{formulario.senha}} <br/>
   {{formulario.botao}}	
   </form> 
    </div>    
    <br/>


<br/>
<div id="borda4" align="center">
<p align="center"> Já tem conta? <a href="/login" > Faça seu login </a> </p>
</div>
{% endblock conteudo %}


