
{% extends 'base.html' %}

{% block conteudo %}
<div class="menupag" > 
</div>
<br/>
<br/>
<div id="borda3" align="center">
<form name="form" method="post" action="/acompanhamento" onsubmit="return validar();">

 <h2> Login </h2>
 Email:  {{formulario.email}} <br/>
 Senha: {{formulario.senha}} <br/>
 <div>
          <input name="submit" type="submit" value="Enviar">
 </div>		  
 </form>
 </div>
  <br/>
  <div id="borda4" align="center">
  <p align="center"> Não tem conta? <a href="/cadastro" > Cadastre-se </a> </p>
  </div>
<br/> 
<p align= "center"> “Mulher… Que sejas sempre lembrada, não apenas por um dia, mas no dia a dia… Que sejas festejada, <br/> não por convenção, mas pelo seu valor, sua força, seu coração. Que seja respeitada com todo carinho, e todo amor… Hoje e sempre!” <br/>
Valéria Milanês </p> <br/>

{% endblock conteudo %}