<html>
<head>
<title>Gurias Empoderadas </title>
<meta charset="utf-8">
<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" type="text/css" media="all">
<link rel="shortcut icon" href="{{ url_for('static', filename='imagens/logotop.png') }}" >

</head>
<body>
        <div class="linhafina">
                <header id="menu" class="espacomenu"> 
                  <div id="logo" class="nomemenu">
                    <h1>Ei, garota </h1>
                  </div>
                  <nav id="abasmenu" class="menulado">
                    <ul>
                      <li class="active"><a href="/index">Home</a></li>
                      <li> <a href="/lute">#LuteComoUmaGarota</a></li>
                      <li> <a href="/login">Login</a></li>
                      <li> <a href="/cadastro">Cadastre-se</a></li>
                      <li> <a href="/acompanhamento"> Seja POWER </a></li>
                    </ul>
                  </nav>
                </header>
  
  <br/>
  <br/>
    {% block conteudo %}
    
    {% endblock conteudo %}
    
            <br/>
            <br/>
          <div class="linhagrossa">
          <footer id="footer"> 
              <div class="centro">
                      <h6 class="title">Gurias Empoderadas</h6>
                <address>
                Por: Ana Carolina e Emanuela Fernandes <br/>
                </address>
                <ul>
                  <li><span class="icon-time"></span> Guanambi/2019 </li>
                  <li><span class="icon-envelope-alt"></span> gurias@hotmail.com</li>
                </ul>
              </div>
            </div>

            </footer>
</body>
</html>