{% extends 'base.html' %}

{% block conteudo %}
<div style="background-color:#92CDD1;">
  <div style="color:#FFFFFF;">
    <div class="box centro"> 
      <h2 class="fonttitulo"> Gurias Empoderadas </h2>
      <p class="naoespaco">" Gostaria que você soubesse existe dentro de si uma força capaz de mudar sua vida, basta que lute e aguarde um novo amanhecer."  </br> 
Margaret Thatcher</p>
    </div>
  </div>
</div>
  <main id="ajuste">  
    <div class="centro">
      <article class="colunasfotos"><img class="imagenstam corborda" src="{{ url_for('static', filename='imagens/power7.jpg') }}" id="img"> 
        <h2 class="naoespaco tam"> Sobre </h2> 
        <p class="naoespaco"> Feito com o intuito de oferecer apoio a todas vocês, mulheres, que já vivenciaram qualquer tipo de opressão diante a essa sociedade machista.</p>
        
      </article>
      <article class="colunasfotos"><img class="imagenstam corborda" src="{{ url_for('static', filename='imagens/powertop2.jpg') }}" id="img">
        <h2 class="naoespaco tam">Girl Power </h2>
        <p class="naoespaco"> "Feminismo não é sobre tornar as mulheres fortes. As mulheres já são fortes. É sobre mudar a forma como o mundo vê essa força." Seja o amor da sua vida.  </p>
     
      </article>
      <article class="colunasfotos"><img class="imagenstam corborda" src="{{ url_for('static', filename='imagens/logo2.jfif') }}" id="img">
        <h2 class="naoespaco tam">Feminicidio</h2>
        <p class="naoespaco"> Sancionada em março de 2015, a Lei do feminicídio foi criada com o intuito oferecer uma maior proteção as mulheres. # Briga De Marido e Mulher Mete a Colher. </p>
       
      </article>
      <article class="colunasfotos"><img class="imagenstam corborda" src="{{ url_for('static', filename='imagens/powertop.jpg') }}" id="img">
        <h2 class="naoespaco tam">Denuncie</h2>
        <p class="naoespaco"> O Brasil é o 5º país no ranking mundial na violência contra a mulher. Não se cale. Estamos todos com você. DENUNCIE! Ligue 180 ou fale conosco. </p>
        
      </article>
    </div>
    <div class="espacomenu"></div>
  </main>

<div class="linhamedia">
</div>
<div class="linhamediabranca">
</div>
<div class="linhamedia">
</div>
  <div class="box"> 
    <ul class="naoespaco centro espacomenu">
	
      <li class="asideordem">
        <div class="corborda asidetam">
          <h6> Quem somos? </h6>
          <p> Somos alunas do Instituto Federal Baiano Campus Guanambi. Fizemos esse site em prol de um projeto escolar, mas, ao nos adentrar ao assunto, ficamos maravilhadas e felizes em saber que podemos contribuir de alguma forma para um mundo melhor. </p>
        </div>
      </li>
	  
      <li class="asideordem">
        <div class="corborda asidetam">
        <h6> Não é amor.</h6>
        <p> Não é  amor  quando você vive em  uma prisão  fisica e mental. As vezes a gente  se recusa a  ver o quão ruim está uma situação, até  que ela nos  destrua completamente. Se liberte a romantização de relacionamentos abusivos! Ei, garota, vai ficar tudo bem.</p>
        </div>
      </li>
	  
      <li class="asideordem">
        <div class="corborda asidetam">
          <h6>Amor Próprio</h6>
          <p> Dentre tantas coisas na vida, devemos além de tudo valorizar a si mesmo. Olhar no espelho e reconhecer o quão espetacular voce é, isso faz toda a diferença. Amar a si mesmo antes de qualquer outra coisa é o início de um amor pra vida toda.</p>
        </div>
      </li>
    </ul>
  </div>  
{% endblock conteudo %}